body {
  background-color: #ccc;
  display: flex;
  place-content: center;
}

.App {
  border: .1px solid #9d9d9d;
  border-radius: 1em;
  box-shadow: 1px 1px 20px gray;
}

.featured {
  background-color: green;
  padding: .5em 1em;
  color: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

h2 {
  text-align: center;
}

ul {
  padding: 1em;
}

li {
  list-style: none;
}

span {
  font-weight: bold;
}

p {
  text-align: center;
}

.puppy-names {
  display: block;
  border-bottom: solid .4px rgb(193, 188, 188);
}